doctype html
html
  head
    title  Airline Reservation System
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //- script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //- link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='../fontawesome/css/fontawesome.min.css')
    link(href='/stylesheets/style.css', rel='stylesheet')
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">  
    script(src='../fontawesome/js/fontawesome.min.js')
    block styles
  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar 
            span.icon-bar


        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            
              li
                a(href='/about') About Us
              li
                a(href='/contact') Contact Us
                
    .container
      block content

      block scripts

  
  // Footer
  section#footer
    .container
      .row.text-center.text-xs-center.text-sm-left.text-md-left
        .col-xs-12.col-sm-4.col-md-4
          h5 Quick links
          ul.list-unstyled.quick-links
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Home
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | About
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | FAQ
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Get Started
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Videos
        .col-xs-12.col-sm-4.col-md-4
          h5 Quick links
          ul.list-unstyled.quick-links
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Home
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | About
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | FAQ
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Get Started
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Videos
        .col-xs-12.col-sm-4.col-md-4
          h5 Quick links
          ul.list-unstyled.quick-links
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Home
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | About
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | FAQ
            li
              a(href='javascript:void();')
                i.fa.fa-angle-double-right
                | Get Started
            li
              a(href='https://wwwe.sunlimetech.com', title='Design and developed by')
                i.fa.fa-angle-double-right
                | Imprint
      .row
        .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-5
          ul.list-unstyled.list-inline.social.text-center
            li.list-inline-item
              a(href='javascript:void();')
                i.fa.fa-facebook
            li.list-inline-item
              a(href='javascript:void();')
                i.fa.fa-twitter
            li.list-inline-item
              a(href='javascript:void();')
                i.fa.fa-instagram
            li.list-inline-item
              a(href='javascript:void();')
                i.fa.fa-google-plus
            li.list-inline-item
              a(href='javascript:void();', target='_blank')
                i.fa.fa-envelope
      .row
        .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-center.text-white
          p
            u
              a(href='https://www.nationaltransaction.com/') National Transaction Corporation
            |  is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]
          p.h6
            | © All right Reversed.
            a.text-green.ml-2(href='https://www.sunlimetech.com', target='_blank') Sunlimetech
  // ./Footer


     
            
            
    