extends ../layout
 
block styles 
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', crossorigin='anonymous')
    //- script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', crossorigin='anonymous')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', crossorigin='anonymous')

block content
    .container
    br
    .jumbotron
        h1.dispaly-4 Start Chatting
        br
        input#txtName.form-control(placeholder='Name', type='text')
        br
        textarea#txtMessage.form-control(placeholder='Message')
        br
        button#send.btn.btn-success Send
    #messages
block scripts
//-   script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
//-   script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', crossorigin='anonymous')
//-   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', crossorigin='anonymous')
